-var path = '';
-var head_url = 'https://landings.gaberstein.de/';
-var head_title = 'Юлия Габерштейн';
-var head_description = 'Я знаю, что не бывает безвыходных ситуаций, и что даже судьбу можно изменить, если взять дело в свои руки. Расскажу как…';
//-var head_img = 'img/banner.jpg';
-var styles = path+'css/styles.min.css';
-var fav_ap = path+'favicon.svg';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var libs = path+'js/libs.min.js';
-var scripts = path+'js/scripts.min.js';
-var noref = true
// -var action = 'https://a57988s1.autoweboffice.ru/?r=personal/newsletter/sub/add&id=41261&lg=ru&Contact[id_newsletter]=';
// -var group = '1';
// -var formId = '1';
// -var formVc = '229457857';
//- -var footer_title = true
//- -var oferta = 'https://mastervision.su/oferta.docx'
//- -var ak = true
-var href = '#Modal';
-var dat = true

mixin b(wcl,cl, href, p, target, id)
	.button-wrapper(class=wcl)
		a.button(class=cl href!=href target=target id=id)
			span!=p
mixin imgs(cl, src, alt)
	img(class=cl src=path+src alt!=alt)
mixin gt(cl, h3)
	h3.general-title(class=cl)!=h3

doctype html
html(lang="ru")
	head
		include pug/head
		//- include pug/scripts/head_scripts
	body#body
		//- include pug/scripts/body_top_scripts
		.wrapper
			include pug/base/1-header
			include pug/main/1-main
			include pug/main/2-1-video
			include pug/main/2-how
			include pug/main/3-meet
			include pug/main/5-for
			include pug/main/6-know
			include pug/main/7-1-col
			include pug/main/7-revs
			.mobile-menu
				.mobile-menu-line.mobile-menu-line-1
				.mobile-menu-line.mobile-menu-line-2
				.mobile-menu-line.mobile-menu-line-3
		include pug/base/2-footer
		include pug/main/8-modals
		include pug/base/3-scripts
		//- include pug/scripts/body_bottom_scripts