section#revs
	.container
		.content
			+gt('', 'посмотрите на отзывы и результаты моих учеников')
	.revs-slider-text
		each n in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21]
			a.text-rev-link(href=path+"img/revs/text-"+n+".jpg" data-fancybox="text-revs"): img(src=path+"img/revs/text-"+n+".min.jpg", alt="Отзыв "+n).text-rev-img
		//- .video-revs-arrows-2
	.revs-slider
		each yt, n in {1: 'yR5cy7ydcUg', 2: 'keD_bIRvDQw', 3: 'SgcGSrwr-JM', 4: 'HMI0q_V67bk', 5: 'GAPMlE_3L0c'}
			div
				.video-wrapper.video-wrapper-revs(data-youtube=yt data-img=path+"img/revs/video-"+n+".jpg")
					img(src=path+"img/revs/video-"+n+".jpg", alt="Отзыв "+n)
					.play-button.play-button-rev
		//- .video-revs-arrows-1